#main-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#nav-bar {
    grid-area: 1 / 1 / 2 / 7;
    background-color: #639FAB;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

#title-div {
    font-weight: bold;
    color: #323031;
    margin-left: 1rem;
}

#project-bar {
    grid-area: 2 / 1 / 13 / 2;
}

#content-wrapper {
    grid-area: 2 / 2 / 7 / 7;
    background-color: #FFFFFF;
}

#new-project-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    gap: 0.5rem;
}

#new-project-btn {
    border: none;
}

#new-project-btn:hover {
    background-color: #323031;
    color: #FFFFFF;
}

/* styles for userInfo.js */

#welcome-screen {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#welcome-title {
    font-size: xx-large;
    color: #323031;
}

#info-holder {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}